body{
background-color: #f5d9d5;
font-family:"Nunito",sans-serif;

}
.blurb h2{
    color: #EA1c2c;
    font-weight: 100;
    font-size: 2.5rem;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
	            0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1);


}

.content{
    margin-bottom: 150px;
}

.blurb p{
    color:#999966;
    font-weight: 100;
    font-size: 1.125rem;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
    

}
#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #EA1c2c;
}


#mainNavbar .navbar-brand{
    color: #EA1c2c;
}

#headingGroup span{
    color: #EA1c2c;

}

#headingGroup h1{
    font-weight: 100;
    color:#b3b3b3;
    font-size:2.5rem  ;

}

@media(max-width:1200px)
{
    #headingGroup h1{

    font-weight: 100;
    
    font-size:1.8rem  ;

    }
}

img.small-icon {
    max-height: 30px;
}
